.timelineContainer {
  background-color: rgba(255, 255, 0, 0);
  color: var(--brandLightPrimary-color);

  display: flex;
  align-items: center;
}

.baseLine {
  height: 8px;
  width: clamp(200px, 80%, 600px);
  max-width: 900px;
  margin: 50px auto -60px auto;

  background-color: var(--brandLightPrimary-color);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.verticalAlignContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 600px;
  width: 100%;
}

.breathingRoom,
.descBreathingRoom {
  height: 250px;
  width: 100%;

  text-overflow: ellipsis;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.descBreathingRoom {
  margin: 50px 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: -2px -2px 5px #656565 inset, 2px 2px 3px #656565 inset;
  background-color: var(--brandLightPrimary-color);
  color: var(--brandPrimary-color);
  width: clamp(200px, 80%, 600px);

  text-align: center;
}

@media (max-width: 1000px) {
  .descBreathingRoom {
    width: 80%;
    height: 300px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .descBreathingRoom {
    overflow: hidden;
    overflow-y: scroll;
  }
}
