.timelineBlipBtn {
  width: 24px;
  height: 24px;

  background-color: var(--brandPrimary-color);
  border: 1px solid var(--brandLightPrimary-color);

  border-radius: 100%;
  transition: all 0.1s ease-in-out;
}

.timelineBlipBtn:hover,
.timelineBlipBtn:focus {
  cursor: pointer;
  background-color: var(--brandSecondary-color);
  border-color: black;
}

.itemTitle {
  transform: translate(-30px, -30px);
  width: fit-content;
  height: 20px;
  white-space: nowrap;

  padding: 6px;
  border-radius: 5px;

  font-size: 14px;

  color: black;
  background-color: var(--brandLightPrimary-color);
  transition: all 0.3s ease-in-out;
  font-family: Montserrat, arial, sans-serif;
}

.tail {
  width: 5px;
  border-radius: 2px;
  background-color: var(--brandLightPrimary-color);
  transition: all 0.2s ease-in-out;
}

.titleContainer {
  display: absolute;

  transform: translate(2px, -62px);
}

.descTitle,
.descDate,
.descDesc {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: var(--brandSecondary-color);
  color: black;
}

.descTitle {
  font-size: large;
}

.descDate {
  font-size: small;
  margin-bottom: 50px;
  color: black;
}

.descDesc {
  font-size: medium;
  text-align: left;
  color: black;
}

@media (max-width: 1000px) {
  .descTitle,
  .descDate,
  .descDesc {
    width: 96%;
  }
  .descTitle {
    font-size: 18px;
  }
  .descDate {
    margin-bottom: 20px;
  }
  .descDesc {
    font-size: 16px;
  }
  .itemTitle {
    font-size: 13px;
    white-space: pre-wrap;
    height: 60px;
    width: 160px;
    transform: translate(-167px, 0);
  }
  .titleContainer {
    transform: translate(2px, -100px);
  }
}

@media (max-width: 600px) {
  .descTitle {
    font-size: 15px;
  }
  .descDate {
    margin-bottom: 20px;
  }
  .descDesc {
    font-size: 14px;
    margin-left: 10px;
  }
  .itemTitle {
    font-size: 10px;
  }
  .itemTitle {
    font-size: 12px;
    white-space: pre-wrap;
    height: 60px;
    width: 120px;
    transform: translate(-127px, 0);
  }
  .titleContainer {
    transform: translate(-2px, -100px);
  }
}
