/* Color variables are declared in index.css */

.page-control {
  font-family: Montserrat, arial, sans-serif;
  font-size: 55px;
}

.white-section,
.blue-section {
  background-color: var(--pagePrimary-color);
}

.blue-section {
  background: linear-gradient(
    var(--pageSecondary-color),
    var(--pageSecondaryFadeTo-color)
  );
}
