.singleProjectContainer {
  height: fit-content;
  width: 70%;
  margin: 50px auto;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.projInfoContainer,
.altProjInfoContainer,
.imgContainer,
.altImgContainer {
  width: 500px;
  margin: 10px;
}

.altImgContainer {
  transform: translateX(-618px);
}

.altProjInfoContainer {
  transform: translateX(618px);
}

.projTitle {
  font-size: 20px;
  text-align: center;
  margin: 0px;
  text-decoration: underline;
  color: var(--brandPrimary-color);
}

.techStackItem {
  background-color: var(--brandDarkPrimary-color);
  color: var(--brandLightPrimary-color);

  width: fit-content;
  margin: 4px;

  font-size: 12px;
  padding: 1px 2px;
  border: 2px solid black;
}

.techStackContainer {
  margin: 0 auto;
  width: fit-content;
  max-width: 90%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow: hidden;
}

.projDesc {
  color: black;
  font-size: medium;
  text-align: left;
  width: 100%;
  margin: 0px auto -20px auto;
}

.buttonsContainer {
  width: fit-content;
  margin: 0 auto;
}

.imgContainer,
.altImgContainer {
  display: flex;
  align-items: center;
}

.img {
  width: 100%;
  border: 2px solid var(--brandSecondary-color);
}
